{% extends 'base.html.twig' %}

{% block title %}Offer index{% endblock %}

{% block body %}
    <div class="container m-auto py-24">
        <a class="bg-orange-300 font-medium tracking-wide px-6 py-4 rounded" href="{{ path('offer_new') }}">Déposer une annonce</a>

        <section class="flex flex-wrap justify-between mt-10">
            {% for offer in offers %}
                <div class="offer-div w-1/3 shadow-xl rounded-md relative transform duration-300 hover:scale-105">
                    <img class="bg-gray-100 h-48 rounded-t-md" src="" alt="">
                    <div class="p-8">
                        <h2 class="font-bold mb-2">{{ offer.title }}</h2>
                        <p class="font-semibold">{{ offer.price }} €</p>
                        <p class="font-medium">{{ offer.description }}</p>
                        <p class="font-medium">{{ offer.date ? offer.date|date('Y-m-d H:i:s') : '' }}</p>
                    </div>
                    <a class="absolute inset-0" href="{{ path('offer_show', {'id': offer.id}) }}"></a>
                </div>
            {% else %}
                <p>Aucune annonce trouvée</p>
            {% endfor %}
        </section>
    </div>
{% endblock %}
