{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
    <div class="container m-auto py-24">
        <h1 class="text-center text-3xl leading-9 font-extrabold text-gray-900 my-8">Category index</h1>
        <section class="flex flex-wrap justify-between mt-10">
            {% for category in categories %}
                <div class="offer-div w-1/3 shadow-xl rounded-md relative transform duration-300 hover:scale-105">
                    <div class="p-8">
                        <h2 class="font-bold mb-2">Id : {{ category.id }}</h2>
                        <p class="font-semibold">Nom : {{ category.name }}</p>
                        <a class="font-medium text-orange-300" href="{{ path('category_show', {'id': category.id}) }}">show</a>
                        <a class="font-medium text-orange-300" href="{{ path('category_edit', {'id': category.id}) }}">edit</a>
                    </div>
                </div>
            {% else %}
                <p>Aucune catégorie trouvée</p>
            {% endfor %}
            <a class="bg-orange-300 font-medium tracking-wide px-6 py-4 rounded mt-10" href="{{ path('category_new') }}">Create new</a>
        </section>
    </div>
{% endblock %}
